@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.container {
    background: white;
}

.containerAnamnese {
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 70px;
}

.content main {
    display: flex;
    flex-direction: column;
}

.anamnesisGroup {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
    z-index: -11;
}

.fixedNavbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.fixedContent {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 100;
    background: #FFF;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 21px;
    letter-spacing: -0.25px;
    margin-left: 10px;
}

.subTitle {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.25px;
}


.infoMessage {
    color: #3B769D;
    padding-right: 10px;
}

.infoIcon {
    display: inline-flex;
    height: 40px;
    padding: 10px 0px 10px 11px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 7.54px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 10px;
    border: 1.25px solid #3B769D;
    background: #F3F8FF;
    margin-bottom: 32px;
    margin-left: 10px;
}

.ul {
    padding-inline-start: 0;
}

.anamnese {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    background: #FFF;
    font-size: 1rem;
}

.anamneseHeader {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    background: #F1F2F7;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #000;
}

.selected {
    border: 1.25px solid #3B769D;
    background: #F3F8FF;
    box-shadow: 0px 0px 6px 2px rgba(52, 108, 144, 0.25);
    height: fit-content;
}

.anamneseId {
    width: 107px;
    margin-right: 32px;
    text-align: center;
}

.anamneseText {
    max-height: 4em;
    /* Ajuste o valor conforme necessário para limitar o número de linhas */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    font-size: 1rem;
    width: 610px;
    margin-right: 23px;
    margin-left: 23px;
    text-overflow: ellipsis;

}

.anamneseWorks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107px;
    margin-right: 23px;
    margin-left: 23px;
    text-align: center;
    padding-right: 10%;
}

.anamneseHeader .anamneseWorks {
    cursor: pointer;
}

.anamneseOdd {
    background-color: #F1F2F7;
    /* Cor de fundo para elementos ímpares */
}

.anamneseEven {
    background-color: #F8F9FD;
    /* Cor de fundo para elementos pares */
}

.button {
    display: flex;
    height: 40px;
    font-size: 1rem;
    border: none;
    width: 178px;
    background-color: #3AA351;
    color: #FFF;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.button span {
    margin-right: 5px;
    text-align: center;
}

.textSpanButton {
    margin-right: 0;
    margin-left: 5px;
}

.controls {}

.navbar {
    z-index: 1000;
}

.selected .anamneseText {
    display: block;
    max-height: none;
    overflow: visible;
    height: fit-content;
}

.results {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 95%;
}