.content {
  margin-top: 30px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 70px;
}

.content main {
  display: flex;
  flex-direction: column;
}

.content .title {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.controls {
  width: 100%;
  height: 150px;
}

.info {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding-inline: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1.25px solid #3b769d;
  background: #f3f8ff;
  color: #3b769d;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.actionGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.droopdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.select {
  display: flex;
  width: fit-content;
  padding-inline: 8px;
  height: 37px;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  background: #fff;
  color: #346c90;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10000;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  color: black;
  font-family: "Inter";
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.item:hover {
  background: #f3f8ff;
}

/* Estilo base para os botões */
.updateButton,
.deleteButton {
  margin-top: 7px;
  display: flex;
  width: fit-content;
  height: 40px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3b9b33;
  /* Cor de fundo padrão */
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

/* Estilo específico para o botão de exclusão */
.deleteButton {
  background: #cc224b;
  /* Cor de fundo diferente para o botão de exclusão */
}

.buttonCancel {
  margin-top: 7px;
  display: flex;
  width: 100px;
  height: 40px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ff3b3b;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.buttonOk {
  margin-top: 7px;
  display: flex;
  width: 100px;
  height: 40px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3b9b33;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

@media screen and (max-width: 1160px) {
  .content {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
  }
}

@media screen and (max-width: 750px) {
  .content main {
    display: flex;
    flex-direction: column;
  }
}

/* CODIGO DA TABELA*/
.anamnese {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  background: #fff;
  font-size: 1rem;
}

.conteinerAnamnese {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.anamneseHeader {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  background: #f1f2f7;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #838383;
}

.selected {
  border: 1.25px solid #3b769d;
  background: #f3f8ff;
  box-shadow: 0px 0px 6px 2px rgba(52, 108, 144, 0.25);
  height: fit-content;
}

.anamneseId {
  border: none;
  width: 150px;
  text-align: center;
}

.anamneseText {
  border: none;
  max-height: 4em;
  /* Ajuste o valor conforme necessário para limitar o número de linhas */
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.anamneseTextSpan {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  /* Approximate height for 3 lines, adjust if needed */
}

.anamneseWorks {
  border: none;
  display: flex;
  width: 100px;
  text-align: center;
}

.anamneseHeader .anamneseWorks {
  cursor: pointer;
}

.anamneseOdd {
  background-color: #fff;
  /* Cor de fundo para elementos ímpares */
}

.anamneseEven {
  background-color: #f8f9fd;
  /* Cor de fundo para elementos pares */
}

.button {
  display: flex;
  height: 40px;
  font-size: 1rem;
  border: none;
  width: 178px;
  background-color: #6e8a9d;
  color: #FFF;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.button span {
  margin-right: 5px;
  text-align: center;
}

.textSpanButton {
  margin-right: 0;
  margin-left: 5px;
}

.navbar {
  z-index: 1000;
}

.selected .anamneseText {
  display: block;
  max-height: none;
  overflow: visible;
  height: fit-content;
}

.results {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 95%;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 4px;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .paginationActive a {
  background-color: #3b769d;
  color: #fff;
}

.pagination .paginationDisabled a {
  pointer-events: none;
  color: #999;
  border-color: #999;
}

.paginationLink span {
  font-size: 15px;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Optional: align items vertically */
  margin-bottom: 10px;
  /* Adjust margin as needed */
}

.details {
  /* Optional styles for the details */
  color: #838383;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
}