.content {
  margin-top: 30px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 70px;
}

.content main {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.content button {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;

  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.25px;
}

.benchmark {
  background: #008080;
}

.benchmark:hover {
  box-shadow: 0px 0px 10px 2px rgba(78, 78, 78, 0.25);
  cursor: pointer;
}

.benchmark:active {
  background: #006666;
  box-shadow: none;
}

.benchmark:disabled,
.benchmark:disabled:hover {
  background: #6e9d9d;
  box-shadow: none;
  cursor: not-allowed;
}

.upload {
  background: #346c90;
}

.upload:hover {
  box-shadow: 0px 0px 10px 2px rgba(78, 78, 78, 0.25);
  cursor: pointer;
}

.upload:active {
  background: #2e6181;
  box-shadow: none;
}

.upload:disabled,
.upload:disabled:hover {
  background: #6e8a9d;
  box-shadow: none;
  cursor: not-allowed;
}

.title {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.recordingsTag {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.secondaryButton {
  background: #d35a2d;
}

.secondaryButton:hover {
  box-shadow: 0px 0px 10px 2px rgba(78, 78, 78, 0.25);
  cursor: pointer;
}

.secondaryButton:active {
  background: #b84c26;
  box-shadow: none;
}

.secondaryButton:disabled,
.secondaryButton:disabled:hover {
  background: #b5897f;
  cursor: not-allowed;
  box-shadow: none;
}

.tag {
  display: inline-flex;
  padding: 10px 11px;
  align-items: center;
  gap: 8px;

  border-radius: 10px;
  border: 1.25px solid #d35a2d;
  background: #fff4f0;

  color: #d35a2d;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
}

.controls {
  width: 100%;
  height: 150px;
}

.info {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding-inline: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1.25px solid #3b769d;
  background: #f3f8ff;
  color: #3b769d;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.actionGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.droopdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.select {
  display: flex;
  width: fit-content;
  padding-inline: 8px;
  height: 37px;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  background: #fff;
  color: #346c90;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10000;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  color: black;
  font-family: "Inter";
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.item:hover {
  background: #f3f8ff;
}

.anamnesisGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 20px;
  padding-right: 15px;
}

.anamneseLink {
  display: flex;
  flex-direction: column;
}

.anamnese {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 5px 3px rgba(151, 151, 151, 0.25);
  height: -webkit-fill-available;
}

.anamnese textarea {
  resize: none;
  border: none;
  background: none;
  color: #5e5e5e;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  height: auto;
}

.anamnese textarea:focus {
  outline: none;
}

.updateButton {
  margin-top: 7px;
  display: flex;
  width: fit-content;
  height: 40px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3b9b33;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.buttonCancel {
  margin-top: 7px;
  display: flex;
  width: 100px;
  height: 40px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ff3b3b;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.buttonOk {
  margin-top: 7px;
  display: flex;
  width: 100px;
  height: 40px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3b9b33;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.selectedTranscription {
  border-radius: 10px;
  border: 1px solid #3b9b33;
  background: #f4fff3;
}

.anamnese a {
  text-decoration: none;
}

.anamnese p {
  display: -webkit-box;
  width: 290px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  color: #3f3f3f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.anamnese .data {
  display: flex;
  justify-content: end;
}

.anamnese .data span {
  color: #3f3f3f;
  text-align: right;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
}

@media screen and (max-width: 1160px) {
  .content {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
  }
}

@media screen and (max-width: 750px) {
  .content main {
    display: flex;
    flex-direction: column;
  }
}

.modelName {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
  margin-block: 10px;
}

.modelMetric {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
}
