@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.containter button {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #3b769d;

  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.containter button:disabled,
.containter button:disabled:hover {
  background: #6e8a9d;
  color: #fff;
  cursor: not-allowed;
}
.containter button:hover {
  background: #346c90;
}

.select_form {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 49px;
}

.select_form select {
  cursor: pointer;
  display: flex;
  height: 32px;
  padding: 6px 10px;
  justify-content: center;
  align-items: flex-start;
  min-width: 190px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  font-family: Raleway;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.select_form select:invalid {
  color: #3f3f3f;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.result p {
  color: #838383;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
