/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: #333;
    color: white;
    background: #001D3B;
    width: auto;
    height: fit-content;
}

.left-side {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-family: 'Raleway';
}

.left-side h1 {
    font-size: 28px;
    font-weight: 600;
    color: #FFF;

}

.right-side a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.right-side a:hover {
    text-decoration: underline;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hamburger-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.logo {
    width: 100px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
}

a.selected {
    font-weight: bold;
}