.container {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}

.container h2 {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.25px;
  align-self: stretch;
  margin: 0;
}

.metrics {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 25px;
  column-gap: 50px;
  align-self: stretch;
  flex-wrap: wrap;
}

.metrics div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.metrics p {
  color: #838383;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  margin-top: 35px;
}
